/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 24px 96px;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: normal;
  line-height: 24.3px;
  align-items: center;
  min-width: 1100px;
}


.header__menu {
  padding: 44px 36px 39px 26px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  list-style: circle;
  width: 391px;
  display: flex;
  justify-content: space-between;
}

.header__link_active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

 .header__address {
  width: 240px;
  margin: 5px 0 2px 184px;
} 

 .address {
  text-underline-offset: 5px;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 24.3px;
}


.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:#FFF;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  background-color: rgb(0 0 0 / 0.6)
}

.cover__title {
  font-family: 'Raleway';
  font-size: 100px;
  font-weight: bold;
  padding: 165px 50px 0px 50px;
  text-transform: uppercase;
  min-width: 1000px;
  margin: 0;
  position: relative;
  z-index: 2;
  
}

.aligned-text {
  display: block;
  padding-bottom: 20px;
  letter-spacing: .03em;
  line-height: 115%;
  
}

.no-letter-spacing {
  letter-spacing: normal;
}

.letter-spacing-extended {
  letter-spacing: .6em;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  padding-bottom: 0;
}






 /* .aligned-text {
  display: block;
  letter-spacing: .03em;
  padding-bottom: 20px;
  line-height: 115px;
}
.no-letter-spacing {
  letter-spacing: normal;
}

.letter-spacing-extended {
  letter-spacing: .6em;
}
.aligned-text_center {
  text-align: center;
  line-height: 100px;
  letter-spacing: .3em;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
  letter-spacing: .3em;

}  */








.cover__description {
  font-family: 'Raleway';
  font-size: 22px;
  text-transform: uppercase;
  line-height: 127%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 135px 50px 51px 78px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  line-height: 28px;
  font-weight: normal;
  word-spacing: 20px;
}

.cover__description-text-modified {
  word-spacing: 15px;
}

.bet-button{
  font-size: 22px;
  font-weight: 500;
  background-color: transparent;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  cursor: pointer;
  color:#fff;
  padding: 0;
  text-transform: uppercase;
}



.lots {
  margin: 179px 24px 0px;
}

.lots__heading {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin:  0 auto 27px 40px;
  line-height: 46.96px
}

.lots__card-list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  /* width: 334px; */
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  height: 100%;
  width: 334px;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  margin: 30px auto 0 40px;
  display: block;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
  color: #000;
}



.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  /* grid-template-rows: auto auto; */
  margin: 179px 24px 0px;
  gap: 25px;
}

.about__column {
  justify-self: center; 
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin: 100px auto 100px 0;
  align-content: center;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.about__text:first-of-type {
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  margin: 180px 50px 88px;
  justify-content: space-between;
}

.footer__menu {
  width: 149px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link {
  text-underline-offset: 5px;
  text-decoration-skip-ink: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__address {
  width: 240px;
  /* margin: 5px 0 2px 184px; */
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.footer__social-link {
  display: block;
  width: 48px;
}

